<div data-bsi-element="small-section-with-button">
    <!--   [if mso | IE]>
</td></tr></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="r-outlook -outlook pr-16-outlook pl-16-outlook -outlook" role="none" style="width:600px;" width="600"><tr><td style="line-height:0;font-size:0;mso-line-height-rule:exactly;">
<![endif]   -->
    <div class="r pr-16 pl-16"
        style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px;">
        <table align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="none"
            style="background:#fffffe;background-color:#fffffe;width:100%;">
            <tbody>
                <tr>
                    <td style="border:none;direction:ltr;font-size:0;padding:32px 32px 32px 32px;text-align:left;">
                        <!--   [if mso | IE]>
<table role="none" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="width:536px;">
<![endif]   -->
                        <div class="pc100 ogf"
                            style="font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;">
                            <!--   [if mso | IE]>
<table border="0" cellpadding="0" cellspacing="0" role="none"><tr><td style="vertical-align:middle;width:260px;">
<![endif]   -->
                            <div class="pc48-5075 ogf m c"
                                style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:48.5075%;">
                                <table border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="none"
                                    style="border:none;vertical-align:middle;"
                                    width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left"
                                                class="x m"
                                                style="font-size:0;padding-bottom:8px;word-break:break-word;">
                                                <div style="text-align:left;">
                                                    <p style="Margin:0;text-align:left;mso-line-height-alt:143%">
                                                        <span data-bsi-element-part="plain-text"
                                                            style="font-size:14px;font-family:Inter,Arial,sans-serif;font-weight:700;color:#000000;line-height:143%;">
                                                            Lucy Gilmore
                                                        </span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left"
                                                class="x"
                                                style="font-size:0;padding-bottom:0;word-break:break-word;">
                                                <div style="text-align:left;">
                                                    <p style="Margin:0;text-align:left;mso-line-height-alt:117%">
                                                        <span data-bsi-element-part="plain-text"
                                                            style="font-size:12px;font-family:Inter,Arial,sans-serif;font-weight:400;color:#777777;line-height:117%;">
                                                            Food Critic
                                                        </span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--   [if mso | IE]>
</td><td style="vertical-align:top;width:16px;">
<![endif]   -->
                            <div class="pc2-9851 ogf g"
                                style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:2.9851%;">
                                <table border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="none"
                                    width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align:top;padding:0;">
                                                <table border="0"
                                                    cellpadding="0"
                                                    cellspacing="0"
                                                    role="none"
                                                    width="100%">
                                                    <tbody></tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--   [if mso | IE]>
</td><td style="vertical-align:middle;width:260px;">
<![endif]   -->
                            <div class="pc48-5075 ogf c"
                                style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:48.5075%;">
                                <table border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="none"
                                    style="border:none;vertical-align:middle;"
                                    width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="right"
                                                vertical-align="middle"
                                                class="b fw-1"
                                                style="font-size:0;padding:0;word-break:break-word;">
                                                <table border="0"
                                                    cellpadding="0"
                                                    cellspacing="0"
                                                    role="none"
                                                    style="border-collapse:separate;width:122px;line-height:100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"
                                                                bgcolor="#000000"
                                                                role="none"
                                                                style="border:none;border-radius:60px 60px 60px 60px;cursor:auto;mso-padding-alt:12px 0px 12px 0px;background:#000000;"
                                                                valign="middle">
                                                                <a data-bsi-element-part="link"
                                                                    href="#insertUrlLink"
                                                                    style="display:inline-block;width:122px;background:#000000;color:#ffffff;font-family:Inter,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:100%;margin:0;text-decoration:none;text-transform:none;padding:12px 0px 12px 0px;mso-padding-alt:0;border-radius:60px 60px 60px 60px;"
                                                                    target="_blank">
                                                                    <span style="font-size:14px;font-family:Inter,Arial,sans-serif;font-weight:700;color:#ffffff;line-height:121%;">
                                                                        Learn
                                                                        More
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--   [if mso | IE]>
</td></tr></table>
<![endif]   -->
                        </div>
                        <!--   [if mso | IE]>
</td></tr></table>
<![endif]   -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
