<div data-bsi-element="card-with-image-and-text">
  <div class="xc276 ogf m c"
                            style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                            <table border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="none"
                                style="border:none;vertical-align:middle;"
                                width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center"
                                            class="i fw-1 m"
                                            style="font-size:0;padding:0;padding-bottom:8px;word-break:break-word;">
                                            <table border="0"
                                                cellpadding="0"
                                                cellspacing="0"
                                                role="none"
                                                style="border-collapse:collapse;border-spacing:0;"
                                                class="fwm">
                                                <tbody>
                                                    <tr>
                                                        <td style="width:276px;"
                                                            class="fwm">
                                                            <img data-bsi-element-part="image"
                                                                alt
                                                                src="{{
                                                                url
                                                                    ?
                                                                    : bsi_cx_asset(
                                                                        '../../content/full-email/img/image-two-col.png'
                                                                    )
                                                                }}"
                                                                style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;"
                                                                title
                                                                width="276"
                                                                height="auto" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="s m"
                                            style="font-size:0;padding:0;padding-bottom:8px;word-break:break-word;">
                                            <div style="height:4px;line-height:4px;">
                                                &#8202;
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left"
                                            class="x m"
                                            style="font-size:0;padding-bottom:8px;word-break:break-word;">
                                            <div style="text-align:left;">
                                                <p style="Margin:0;text-align:left;mso-line-height-alt:120%">
                                                    <span data-bsi-element-part="plain-text"
                                                        style="font-size:20px;font-family:Inter,Arial,sans-serif;font-weight:700;color:#000000;line-height:120%;">
                                                        Head Sushi Chef
                                                    </span>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left"
                                            class="x"
                                            style="font-size:0;padding-bottom:0;word-break:break-word;">
                                            <div data-bsi-element-part="formatted-text"
                                                style="text-align:left;">
                                                <p style="Margin:0;text-align:left;mso-line-height-alt:150%">
                                                    <span style="font-size:16px;font-family:Inter,Arial,sans-serif;font-weight:400;color:#777777;line-height:150%;">
                                                        The finest sushi in
                                                        Japan, the way
                                                        it&rsquo;s meant to be
                                                        eaten, is unadorned,
                                                        like a flower.
                                                        It&rsquo;s whole,
                                                        unadorned, it&rsquo;s
                                                        just good sushi, my
                                                        friend.
                                                    </span>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
</div>