<div data-bsi-element="divider-violet">
    <!--          [if mso | IE]>
</td></tr></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="r-outlook -outlook pr-16-outlook pl-16-outlook -outlook" role="none" style="width:600px;" width="600"><tr><td style="line-height:0;font-size:0;mso-line-height-rule:exactly;">
<![endif]          -->
    <div class="r pr-16 pl-16"
        style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px;">
        <table align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="none"
            style="background:#fffffe;background-color:#fffffe;width:100%;">
            <tbody>
                <tr>
                    <td style="border:none;direction:ltr;font-size:0;padding:16px 32px 16px 32px;text-align:left;">
                        <!--          [if mso | IE]>
<table role="none" border="0" cellpadding="0" cellspacing="0"><tr><td class="c-outlook -outlook -outlook" style="vertical-align:middle;width:536px;">
<![endif]          -->
                        <div class="xc536 ogf c"
                            style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                            <table border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="none"
                                style="border:none;vertical-align:middle;"
                                width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center"
                                            class="d"
                                            style="font-size:0;padding:0;word-break:break-word;">
                                            <p style="border-top:solid 1px #6875f5;font-size:1px;margin:0px auto;width:100%;"></p>
                                            <!--          [if mso | IE]>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-top:solid 1px #6875f5;font-size:1px;margin:0px auto;width:536px;" role="none" width="536px"><tr><td style="height:0;line-height:0;"> &nbsp;
</td></tr></table>
<![endif]          -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--          [if mso | IE]>
</td></tr></table>
<![endif]          -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
