<div data-bsi-element="button-link">
<table border="0" cellpadding="0" cellspacing="0" role="none" style="border-collapse:separate;width:97px;line-height:100%;">
<tbody>
<tr>
<td align="center" bgcolor="transparent" role="none" style="border:none;cursor:auto;mso-padding-alt:4px 0px 4px 0px;background:transparent;" valign="middle">
<a data-bsi-element-part="link" href="#insertUrlLink" style="display:inline-block;width:97px;background:transparent;color:#6875F5;font-family:Inter,Arial,sans-serif;font-size:16px;font-weight:normal;line-height:100%;margin:0;text-decoration:underline;text-decoration-color:#6875f5;text-transform:none;padding:4px 0px 4px 0px;mso-padding-alt:0;" target="_blank"> 
<span style="font-size:16px;font-family:Inter,Arial,sans-serif;font-weight:700;color:#6875f5;line-height:119%;">Learn More</span></a>
</td>
</tr>
</tbody>
</table>
</div>