<div data-bsi-element="item-list">
    <!--     [if mso | IE]>
</td></tr></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-outlook -outlook pr-16-outlook pl-16-outlook -outlook" role="none" style="width:600px;" width="600" bgcolor="#eeeeee"><tr><td style="line-height:0;font-size:0;mso-line-height-rule:exactly;">
<![endif]     -->
    <div class="w pr-16 pl-16"
        style="background:#eeeeee;background-color:#eeeeee;margin:0px auto;max-width:600px;">
        <table align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="none"
            style="background:#eeeeee;background-color:#eeeeee;width:100%;">
            <tbody>
                <tr>
                    <td style="border:none;direction:ltr;font-size:0;padding:16px 16px 16px 16px;text-align:center;">
                      

                        <!--     [if mso | IE]>
</td></tr></table>
</td></tr><tr><td class="r-outlook -outlook pr-16-outlook pl-16-outlook -outlook" width="600px">
<table align="center" border="0" cellpadding="0" cellspacing="0" class="r-outlook -outlook pr-16-outlook pl-16-outlook -outlook" role="none" style="width:568px;" width="568"><tr><td style="line-height:0;font-size:0;mso-line-height-rule:exactly;">
<![endif]     -->
  
                        <div class="r pr-16 pl-16"
                            style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:568px;">
                            <table align="center"
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="none"
                                style="background:#fffffe;background-color:#fffffe;width:100%;">
                                <tbody>
                                    <tr>
                                        <td style="border:none;direction:ltr;font-size:0;padding:16px 16px 16px 16px;text-align:left;">
                                            <!--     [if mso | IE]>
<table role="none" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="width:536px;">
<![endif]     -->
                                            <div class="pc100 ogf"
                                                style="font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;">
                                                <!--     [if mso | IE]>
<table border="0" cellpadding="0" cellspacing="0" role="none"><tr><td style="vertical-align:middle;width:260px;">
<![endif]     -->
                                                <div class="pc48-5075 ogf m c"
                                                    style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:48.5075%;">
                                                    <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        role="none"
                                                        style="border:none;vertical-align:middle;"
                                                        width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    class="i"
                                                                    style="font-size:0;padding:0;word-break:break-word;">
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        role="none"
                                                                        style="border-collapse:collapse;border-spacing:0;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width:130px;">
                                                                                    <img data-bsi-element-part="image"  alt
                                                                                        src="{{
                                                                                        url
                                                                                            ?
                                                                                            : bsi_cx_asset(
                                                                                                '../../content/full-email/img/logo.png'
                                                                                            )
                                                                                        }}"
                                                                                        style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;"
                                                                                        title
                                                                                        width="130"
                                                                                        height="auto" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--     [if mso | IE]>
</td><td style="vertical-align:top;width:16px;">
<![endif]     -->
                                                <div class="pc2-9851 ogf g"
                                                    style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:2.9851%;">
                                                    <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        role="none"
                                                        width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align:top;padding:0;">
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        role="none"
                                                                        style
                                                                        width="100%">
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--     [if mso | IE]>
</td><td style="vertical-align:middle;width:260px;">
<![endif]     -->
                                                <div class="pc48-5075 ogf c"
                                                    style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:48.5075%;">
                                                    <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        role="none"
                                                        style="border:none;vertical-align:middle;"
                                                        width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    class="x"
                                                                    style="font-size:0;word-break:break-word;">
                                                                    <div data-bsi-element-part="formatted-text"  style="text-align:left;">
                                                                        <p style="Margin:0;text-align:left;mso-line-height-alt:124%">
                                                                            <span style="font-size:17px;font-family:Inter,Arial,sans-serif;font-weight:700;color:#000000;line-height:124%;">
                                                                                Amazingly
                                                                                delicious
                                                                                hand
                                                                                crafted
                                                                                sushi
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--     [if mso | IE]>
</td></tr></table>
<![endif]     -->
                                            </div>
                                            <!--     [if mso | IE]>
</td></tr></table>
<![endif]     -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--     [if mso | IE]>
</td></tr></table>
</td></tr></table>
<![endif]     -->

 <div data-bsi-dropzone="item-list">
                                         {% include "../../elements/item/template.twig" %}
                                         </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
