<div data-bsi-element="two-col-text">
    <!--    [if mso | IE]>
</td></tr></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="r-outlook -outlook pr-16-outlook pl-16-outlook -outlook" role="none" style="width:600px;" width="600"><tr><td style="line-height:0;font-size:0;mso-line-height-rule:exactly;">
<![endif]    -->
    <div class="r pr-16 pl-16"
        style="background:#fffffe;background-color:#fffffe;margin:0px auto;max-width:600px;">
        <table align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="none"
            style="background:#fffffe;background-color:#fffffe;width:100%;">
            <tbody>
                <tr>
                    <td style="border:none;direction:ltr;font-size:0;padding:32px 32px 32px 32px;text-align:left;">
                        <!--    [if mso | IE]>
<table role="none" border="0" cellpadding="0" cellspacing="0"><tr><td class="m-outlook c-outlook -outlook -outlook" style="vertical-align:middle;width:260px;">
<![endif]    -->
                        <div class="xc260 ogf m c"
                            style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                            <table border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="none"
                                style="border:none;vertical-align:middle;"
                                width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left"
                                            class="x"
                                            style="font-size:0;word-break:break-word;">
                                            <div style="text-align:left;">
                                                <p style="Margin:0;text-align:left;mso-line-height-alt:114%">
                                                    <span data-bsi-element-part="plain-text"
                                                        style="font-size:28px;font-family:Inter,Arial,sans-serif;font-weight:700;color:#000000;line-height:114%;">
                                                        Experience our sushi bar
                                                    </span>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--    [if mso | IE]>
</td><td class="g-outlook mb-16-outlook" style="vertical-align:top;width:16px;">
<![endif]    -->
                        <div class="xc16 ogf g mb-16"
                            style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                            <table border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="none"
                                width="100%">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:top;padding:0;">
                                            <table border="0"
                                                cellpadding="0"
                                                cellspacing="0"
                                                role="none"
                                                width="100%">
                                                <tbody></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--    [if mso | IE]>
</td><td class="c-outlook -outlook -outlook" style="vertical-align:middle;width:260px;">
<![endif]    -->
                        <div class="xc260 ogf c"
                            style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                            <table border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="none"
                                style="border:none;vertical-align:middle;"
                                width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left"
                                            class="x"
                                            style="font-size:0;word-break:break-word;">
                                            <div data-bsi-element-part="formatted-text"
                                                style="text-align:left;">
                                                <p style="Margin:0;text-align:left;mso-line-height-alt:150%">
                                                    <span style="font-size:16px;font-family:Inter,Arial,sans-serif;font-weight:400;color:#777777;line-height:150%;">
                                                        Our sushi bar has some
                                                        amazing sushi with great
                                                        variety, as well as
                                                        dishes from other Asian
                                                        regions including Korea,
                                                        Japan, Thailand and
                                                        Cambodia. We get our
                                                        ingredients from local
                                                        producers whenever
                                                        possible.
                                                    </span>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--    [if mso | IE]>
</td></tr></table>
<![endif]    -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
