<div data-bsi-element="footer-stores">
    <!--    [if mso | IE]>
</td></tr></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="r-outlook -outlook pr-16-outlook pl-16-outlook -outlook" role="none" style="width:600px;" width="600"><tr><td style="line-height:0;font-size:0;mso-line-height-rule:exactly;">
<![endif]    -->
    <div class="r pr-16 pl-16"
        style="background:#efeff0;background-color:#efeff0;margin:0px auto;max-width:600px;">
        <table align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="none"
            style="background:#efeff0;background-color:#efeff0;width:100%;">
            <tbody>
                <tr>
                    <td style="border:none;direction:ltr;font-size:0;padding:16px 16px 16px 16px;text-align:left;">
                        <!--    [if mso | IE]>
<table role="none" border="0" cellpadding="0" cellspacing="0"><tr><td class="c-outlook -outlook -outlook" style="vertical-align:middle;width:568px;">
<![endif]    -->
                        <div class="xc568 ogf c"
                            style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
                            <table border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="none"
                                style="border:none;vertical-align:middle;"
                                width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center"
                                            class="x m"
                                            style="font-size:0;padding-bottom:8px;word-break:break-word;">
                                            <div style="text-align:center;">
                                                <p data-bsi-element-part="plain-text"
                                                    style="Margin:0;text-align:center;mso-line-height-alt:124%">
                                                    <span style="font-size:17px;font-family:Inter,Arial,sans-serif;font-weight:700;color:#6875f5;line-height:124%;">
                                                        Download the app
                                                    </span>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"
                                            class="o"
                                            style="font-size:0;padding:0;padding-bottom:0;word-break:break-word;">
                                            <!--    [if mso | IE]>
<table align="center" border="0" cellpadding="0" cellspacing="0" role="none"><tr><td>
<![endif]    -->
                                            <table align="center"
                                                border="0"
                                                cellpadding="0"
                                                cellspacing="0"
                                                role="none"
                                                style="float:none;display:inline-table;">
                                                <tbody>
                                                    <tr class="e m">
                                                        <td style="padding:0 16px 0 0;vertical-align:middle;">
                                                            <table border="0"
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                role="none"
                                                                style="width:120px;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size:0;height:40px;vertical-align:middle;width:120px;">
                                                                            <a data-bsi-element-part="link"
                                                                                href="#insertUrlLink"
                                                                                target="_blank">
                                                                                <img data-bsi-element-part="image"
                                                                                    alt="Apple"
                                                                                    title=""
                                                                                    height="40"
                                                                                    src="{{
                                                                                    url
                                                                                        ?
                                                                                        : bsi_cx_asset(
                                                                                            '../../content/full-email/img/58cdfc2464c75ccd84023b9da49b920d.png'
                                                                                        )
                                                                                    }}"
                                                                                    style="display:block;"
                                                                                    width="120" />
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--    [if mso | IE]>
</td><td>
<![endif]    -->
                                            <table align="center"
                                                border="0"
                                                cellpadding="0"
                                                cellspacing="0"
                                                role="none"
                                                style="float:none;display:inline-table;">
                                                <tbody>
                                                    <tr class="e">
                                                        <td style="padding:0;vertical-align:middle;">
                                                            <table border="0"
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                role="none"
                                                                style="width:136px;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size:0;height:40px;vertical-align:middle;width:136px;">
                                                                            <a data-bsi-element-part="link"
                                                                                href="#insertUrlLink"
                                                                                target="_blank">
                                                                                <img alt="Google"
                                                                                    title=""
                                                                                    height="40"
                                                                                    src="{{
                                                                                    url
                                                                                        ?
                                                                                        : bsi_cx_asset(
                                                                                            '../../content/full-email/img/60a8e9e20706802ffe216d7dbcd1eb09.jpg'
                                                                                        )
                                                                                    }}"
                                                                                    style="display:block;"
                                                                                    width="136" />
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--    [if mso | IE]>
</td></tr></table>
<![endif]    -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--    [if mso | IE]>
</td></tr></table>
<![endif]    -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
