<div data-bsi-element="hero">
    <!--   [if mso | IE]>
</td></tr></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" role="none" style="width:600px;" width="600"><tr><td style="line-height:0;font-size:0;mso-line-height-rule:exactly;"><v:image style="border:0;height:460px;mso-position-horizontal:center;position:absolute;top:0;width:600px;z-index:-3;" src="img/020b0da04242036d978a58e1258778ba.jpg" xmlns:v="urn:schemas-microsoft-com:vml"/><v:rect style="border:0;height:460px;mso-position-horizontal:center;position:absolute;top:0;width:600px;z-index:-4;" fillcolor="#000000" stroke="false" strokecolor="none" strokeweight="0" xmlns:v="urn:schemas-microsoft-com:vml"/>
<![endif]   -->
    <div class="h pt-32 pr-16 pb-32 pl-16"
        style="margin:0 auto;max-width:600px;">
        <table border="0"
            cellpadding="0"
            cellspacing="0"
            role="none"
            style="width:100%;">
            <tbody>
                <tr style="vertical-align:top;">
                    <td background="#6875f5"
                        style="background:#6875f5; background-size: cover;background-position:center center;padding:16px 16px 16px 16px;vertical-align:middle;"
                        height="428">
                        <!--   [if mso | IE]>
<table border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600"><tr><td style="padding:16px 16px 16px 16px;">
<![endif]   -->
                        <div class="mj-hero-content" style="margin:0px auto;">
                            <table border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="none"
                                style="width:100%;margin:0;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table border="0"
                                                cellpadding="0"
                                                cellspacing="0"
                                                role="none"
                                                style="width:100%;margin:0;">
                                                <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            class="x fs-32 lh-37 m"
                                                            style="font-size:0;padding-bottom:16px;word-break:break-word;">
                                                            <div style="text-align:center;">
                                                                <p style="Margin:0;text-align:center;mso-line-height-alt:122%">
                                                                    <span data-bsi-element-part="plain-text"
                                                                        style="font-size:50px;font-family:Inter,Arial,sans-serif;font-weight:700;color:#ffffff;line-height:122%;">
                                                                        Welcome
                                                                        to Jiro
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center"
                                                            class="x m"
                                                            style="font-size:0;padding-bottom:16px;word-break:break-word;">
                                                            <div data-bsi-element-part="formatted-text"
                                                                style="text-align:center;">
                                                                <p style="Margin:0;text-align:center;mso-line-height-alt:138%">
                                                                    <span style="font-size:16px;font-family:Inter,Arial,sans-serif;font-weight:400;color:#ffffff;line-height:138%;">
                                                                        Far from
                                                                        your
                                                                        standard
                                                                        takeaway
                                                                        sushi
                                                                        hand
                                                                        rolls,
                                                                        Sushi
                                                                        Jiro
                                                                        brings
                                                                        carefully
                                                                        handcrafted,
                                                                        and
                                                                        traditional
                                                                        sushi
                                                                        with a
                                                                        creative
                                                                        flair.
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center"
                                                            class="b fw-1"
                                                            style="font-size:0;padding:0;padding-bottom:0;word-break:break-word;">
                                                          <div data-bsi-dropzone="button-hero">
                                                            {% include "../../elements/button-hero/template.twig" %}
                                                          </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--   [if mso | IE]>
</td></tr></table>
<![endif]   -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
