<div data-bsi-element="full-email">
    <div data-bsi-dropzone="email-content"
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="none">
        {% include '../../sections/hero/template.twig' %}
        {% include '../../elements/body-text/template.twig' %}
        {% include '../../sections/cards/template.twig' %}
        {% include '../../sections/feedback-rating/template.twig' %}
        {% include '../../sections/image-left-two-col/template.twig' %}
        {% include '../../sections/small-section-with-button/template.twig' %}
        {% include '../../sections/three-images-left-section/template.twig' %}
        {% include '../../sections/two-col-text/template.twig' %}
        {% include '../../sections/full-width-with-button-link/template.twig' %}
        {% include '../../sections/full-width-section-with-button/template.twig' %}
        {% include '../../sections/item-list/template.twig' %}
        {% include '../../sections/free-delivery/template.twig' %}
        {% include '../../sections/full-width-image-title-text/template.twig' %}
        {% include '../../sections/two-column-image-title-text/template.twig' %}
        {% include '../../elements/divider/template.twig' %}
        {% include '../../elements/spacer/template.twig' %}
         {% include '../../elements/divider-violet/template.twig' %}
     
    </div>
</div>
