<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <title>
            {{ properties.title }}
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- [if !mso]><! -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- <![endif] -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style type="text/css">
            #outlook
            a{padding:0;}body{margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}table,td{border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;}img{border:0;height:auto;line-height:100%;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;}p{display:block;margin:0;}
        </style>
        <!--    [if mso]> <noscript><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml></noscript>
<![endif]    -->
        <!--    [if lte mso 11]>
<style type="text/css">
.ogf{width:100% !important;}
</style>
<![endif]    -->
        <!-- [if !mso]><! -->
        <link href="https://fonts.googleapis.com/css?family=Inter:700,400"
            rel="stylesheet"
            type="text/css" />
        <style type="text/css"></style>
        <!-- <![endif] -->
        <style type="text/css">
            @media only screen and
            (min-width:599px){.xc568{width:568px!important;max-width:568px;}.xc536{width:536px!important;max-width:536px;}.xc276{width:276px!important;max-width:276px;}.xc16{width:16px!important;max-width:16px;}.xc260{width:260px!important;max-width:260px;}.pc100{width:100%!important;max-width:100%;}.pc48-5075{width:48.5075%!important;max-width:48.5075%;}.pc2-9851{width:2.9851%!important;max-width:2.9851%;}.xc178{width:178px!important;max-width:178px;}.xc1{width:1px!important;max-width:1px;}}
        </style>
        <style media="screen and (min-width:599px)">
            .moz-text-html
            .xc568{width:568px!important;max-width:568px;}.moz-text-html
            .xc536{width:536px!important;max-width:536px;}.moz-text-html
            .xc276{width:276px!important;max-width:276px;}.moz-text-html
            .xc16{width:16px!important;max-width:16px;}.moz-text-html
            .xc260{width:260px!important;max-width:260px;}.moz-text-html
            .pc100{width:100%!important;max-width:100%;}.moz-text-html
            .pc48-5075{width:48.5075%!important;max-width:48.5075%;}.moz-text-html
            .pc2-9851{width:2.9851%!important;max-width:2.9851%;}.moz-text-html
            .xc178{width:178px!important;max-width:178px;}.moz-text-html
            .xc1{width:1px!important;max-width:1px;}
        </style>
        <style type="text/css">
            @media only screen and
            (max-width:599px){table.fwm{width:100%!important;}td.fwm{width:auto!important;}}
        </style>
        <style type="text/css">
            u+.emailify
            .gs{background:#000;mix-blend-mode:screen;display:inline-block;padding:0;margin:0;}u+.emailify
            .gd{background:#000;mix-blend-mode:difference;display:inline-block;padding:0;margin:0;}u+.emailify
            a,#MessageViewBody
            a,a[x-apple-data-detectors]{color:inherit!important;text-decoration:none!important;font-size:inherit!important;font-family:inherit!important;font-weight:inherit!important;line-height:inherit!important;}span.MsoHyperlink{mso-style-priority:99;color:inherit;}span.MsoHyperlinkFollowed{mso-style-priority:99;color:inherit;}td.b
            .klaviyo-image-block{display:inline;vertical-align:middle;} @media
            only screen and
            (max-width:599px){.emailify{height:100%!important;margin:0!important;padding:0!important;width:100%!important;}u+.emailify
            .glist{margin-left:1em!important;}td.ico.v>div.il>a.l.m,td.ico.v
            .mn-label{padding-right:0!important;padding-bottom:16px!important;}td.x{padding-left:0!important;padding-right:0!important;}.fwm
            img{max-width:100%!important;height:auto!important;}.aw
            img{width:auto!important;margin-left:auto!important;margin-right:auto!important;}.ah
            img{height:auto!important;}td.b.nw>table,td.b.nw
            a{width:auto!important;}td.stk{border:0!important;}td.u{height:auto!important;}br.sb{display:none!important;}.thd-1
            .i-thumbnail{display:inline-block!important;height:auto!important;overflow:hidden!important;}.hd-1{display:block!important;height:auto!important;overflow:visible!important;}.ht-1{display:table!important;height:auto!important;overflow:visible!important;}.hr-1{display:table-row!important;height:auto!important;overflow:visible!important;}.hc-1{display:table-cell!important;height:auto!important;overflow:visible!important;}div.r.pr-16>table>tbody>tr>td,div.r.pr-16>div>table>tbody>tr>td{padding-right:16px!important}div.r.pl-16>table>tbody>tr>td,div.r.pl-16>div>table>tbody>tr>td{padding-left:16px!important}div.h.pt-32>table>tbody>tr>td{padding-top:32px!important}div.h.pr-16>table>tbody>tr>td{padding-right:16px!important}div.h.pb-32>table>tbody>tr>td{padding-bottom:32px!important}div.h.pl-16>table>tbody>tr>td{padding-left:16px!important}td.x.fs-32
            span,td.x.fs-32>div,td.x.fs-32{font-size:32px!important}td.x.lh-37
            span,td.x.lh-37>div,td.x.lh-37{line-height:37px!important}td.b.fw-1>table{width:100%!important}td.fw-1>table>tbody>tr>td>a{display:block!important;width:100%!important;padding-left:0!important;padding-right:0!important;}td.b.fw-1>table{width:100%!important}td.fw-1>table>tbody>tr>td{width:100%!important;padding-left:0!important;padding-right:0!important;}div.g.mb-16>table>tbody>tr>td{padding-bottom:16px!important}div.r.pt-24>table>tbody>tr>td,div.r.pt-24>div>table>tbody>tr>td{padding-top:24px!important}div.r.pb-24>table>tbody>tr>td,div.r.pb-24>div>table>tbody>tr>td{padding-bottom:24px!important}div.r.s-16>table>tbody>tr>td>div.gtr>table>tbody>tr>td{padding-top:0!important;padding-right:0!important;padding-bottom:16px!important;padding-left:0!important;}}
        </style>
        <meta name="color-scheme" content="light dark" />
        <meta name="supported-color-schemes" content="light dark" />
        <!--    [if gte mso 9]>
<style>li{text-indent:-1em;}
</style>
<![endif]    -->
        <!-- [if mso]>
   
        <style>
            .cr->table>tbody>tr>td,.c-r>table{border-collapse:collapse;}
        </style>
        <!-- <![endif] -->
        <style>
            {{ bsi_cx_css_inline() }}
        </style>
    </head>
    <body lang="en"
        link="#DD0000"
        vlink="#DD0000"
        class="emailify"
        style="mso-line-height-rule:exactly;word-spacing:normal;background-color:#f5f5f5;">
        <div class="bg" style="background-color:#f5f5f5;">
            {# Be aware, that this is no valid email template. #}
            <div data-bsi-dropzone="header">
                {% block header %}

                {% endblock %}
            </div>
            <main data-bsi-dropzone="main">
                {% block main %}

                {% endblock %}
            </main>
            <div data-bsi-dropzone="footer">
                {% block footer %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>
